<section class="mx-10 px-10 border-t-2 py-2 flex flex-cols justify-between items-center">

<article class="ml-10">
<a href="{{path('app_main')}}">
<img src="{{asset('images/afpa_logo.jpg')}}" class="h-12" alt="logo afpa" loading="lazy">
</a>
</article>

<article class="flex flex-row gap-2">

<a href="https://x.com/Afpa_Formation?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><img src="{{asset('images/x.avif')}}" class="h-10" alt="logo afpa" loading="lazy"></a>
<a href=""><img src="{{asset('images/insta.png')}}" class="h-8" alt="logo afpa" loading="lazy"></a>
</article>

<article>
     <ul>
        <li><a href="https://www.afpa.fr/" class="hover:text-[#0b9c9f]">Afpa</a></li>
        <li><a href="https://www.instagram.com/afpa_formation/?hl=fr" class="hover:text-[#0b9c9f]">Afpa Châtellerault</a></li>
        <li><a href="https://www.ville-chatellerault.fr/" class="hover:text-[#0b9c9f]">Ville de Châtellerault</a></li>
    </ul>
</article>

</section>